.projects-details-wrapper { width: 100%; display: flex; justify-content: space-between; margin-top : 100px}
.projects-details-content { width: 570px; padding: 0px 35px; box-sizing: border-box;}

.projects-details-content h3 {
    font-family: 'eighties_nostalgiaregular';
    font-size: 40px;
    color: var(--night-blue);
    margin: 0px 0px 20px 0px;
}

.projects-details-content p, .projects-details-content span { font-size: 20px;} 
.projects-details-content p { margin: 20px 0px;}


.projects-links a { 
    border: none;
    margin: auto;
    width: 115px; 
    height: 35px;
    background-color: var(--bruised-pink); 
    color: var(--night-blue); 
    text-decoration: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;    
    transition: 0.3s;
}

.projects-links a:hover {
    color: var(--bruised-pink);
    background-color: var(--night-blue);
}

.project-details-img {
    width: 570px;
    height: 300px;
    background-color: var(--bruised-pink);
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
}

.project-details-img img { 
    object-fit: cover;
    width: 80%;
    object-position: top center;
    position: relative;
    top: 0px;
}

@media screen and (max-width: 490px) {
    .projects-details-wrapper { flex-direction: column; margin-top: 50px;}
    
    .projects-details-content { padding: 0; order: 2; width: 100%;}
    .projects-details-content h3 { font-size: 30px; margin: 0}
    .projects-details-content span, .projects-details-content p { font-size: 20px; margin: 0}

    .project-details-img { margin: 0; width: 100%; height: 200px;}
    .project-details-img img { top: 0}

    .projects-links { margin-top: 20px;}
}

@media screen and (min-width: 491px) and (max-width: 1100px) {
    .projects-details-content { width: 600px; }
    .project-details-img img { top:0 }
}