.pill-wrapper {
    min-width: 150px ;
    height: 45px;
    background: transparent;
    display: flex;
}

.icon-wrapper {
    width: 55px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    display: flex;
}

.blue-pill { background-color: var(--night-blue);}
.pink-pill { background-color: var(--bruised-pink);}

.blue-pill img, .pink-pill img { margin: auto; ;} 

.text-wrapper {
    background-color: #ffff;
    width: auto;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
}