.simple-card-wrapper {
    background-color: #ffff;
    border-radius: 10px;
    width: 465px;
    height: 445px;

    display: flex;
    flex-direction: column;
}

.simple-card-wrapper h3 {
    color: var(--night-blue);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}


@media screen and (max-width: 490px) {
    .simple-card-wrapper { width: 100%; margin-bottom: 20px;}
    .simple-card-wrapper h3 { font-size: 25px;}
}

@media screen and (min-width: 491px) and (max-width: 1100px) {
    .simple-card-wrapper { width: 75%; height: 350px; margin-bottom: 20px ;}
}