.skills-card {
    width: 450px;
    height: 450px;
    background-color: var(--bruised-pink);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-card .card-header {
    display: flex;
    align-items: center;
    height: 134px;
}

.skills-card .icon-wrapper {
    background-color: var(--night-blue);
    border-radius: 10px 0px 0px 0px;
    width: 134px;
    height: 134px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-card .card-header h3 { 
    margin: 0px 0px 0px 20px; 
    font-size: 30px; 
    color: var(--night-blue); 
    max-width: 300px;
    font-weight: 600;
}

.skills-card .card-content { height: 100%; display: flex; align-items: center;}
.skills-card ul { margin: 0; padding: 20px 40px;}
.skills-card li { list-style: none; color: var(--night-blue); font-size: 25px; margin: 7.5px 0px}
.skills-card li::before { content: "\2022 "; margin-right: 10px;}

@media screen and (max-width: 490px) {
    .skills-card { width: 100%; margin-bottom: 20px; height: 350px;}
    .card-header { height: 100px; }
    .card-header .icon-wrapper { height: 100%;}
    .card-header .icon-wrapper img { height: 70%;}
    .skills-card .card-header h3 { font-size: 25px; margin-left: 30px;}

    .card-content { overflow-y: auto; scrollbar-color: var(--bruised-pink) #ffff;}
    .skills-card li { font-size: 20px;}
}
@media screen and (min-width: 491px) and (max-width: 1100px) {
    .skills-card { width: 75%; height: 350px; margin-bottom: 20px ;}
}