#Frontheader-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--night-blue);
    padding: 0% 10%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Frontheader-wrapper img {
    position: absolute;
    height: 85vh;
    display: block;
    margin: auto;
    transition: 0.5s;
    animation: 0.5s ease-in onLoadAnimation 0s;
}

#Frontheader-wrapper span, #Frontheader-wrapper h1, #Frontheader-wrapper p {
    color: var(--bruised-pink);
}

.Frontheader-content { 
    position: absolute;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    animation: 0.5s ease-in onLoadAnimation 0s;
}

#Frontheader-wrapper h1 {
    width: 50%;
    text-align: center;
    font-family: 'eighties_nostalgiaregular';
    font-size: 80px;
    margin: 0;
}

#Frontheader-wrapper span { font-size: 30px;}
#Frontheader-wrapper p { font-size: 50px; margin-top: 30px; margin-bottom: -15px;}

@keyframes onLoadAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}