#Projects-section-wrapper {
    background-color: var(--night-blue);
    color: #ffffff
}

#Projects-section-wrapper h2 { 
    color: var(--bruised-pink); 
    font-family: 'eighties_nostalgiaregular';
    font-size: 50px;
    margin-bottom: 10px;
}

.projects-title span { font-size: 25px;}
.projects-grid { 
    margin-top: 50px; 
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-between;
}


#Projects-section-wrapper a { 
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 115px; 
    background-color: var(--bruised-pink); 
    color: var(--night-blue); 
    text-decoration: none; padding: 5px; 
    border-radius: 5px; 
    text-align: center;
    font-size: 20px;
    width: 145px;
}


@media screen and (max-width: 490px) {
    .projects-title { text-align: center;}
    .projects-title span { font-size: 20px;}
    .projects-grid { grid-template-columns: 100%}
    .projects-grid > * { margin: auto;}
    #Projects-section-wrapper a { margin: 20px auto}
}

@media screen and (min-width: 491px) and (max-width: 1100px) {
    .projects-grid { grid-template-columns: repeat(3, 30%);}
}