body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --bruised-pink: #E1BEBE;
  --night-blue: rgb(40, 48, 80);

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'eighties_nostalgiaregular';
  src: url('./assets/fonts/eightiesnostalgia-webfont.woff') format('woff'),
  url('./assets/fonts/eightiesnostalgia-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



#about-wrapper, #Projects-section-wrapper, #Contact-section, #Overview-section, #Formation-section, 
#Last-projects-section, #Projects-section {
  padding: 2% 10% 5% 10%;
  box-sizing: border-box;
}

@media screen and (max-width: 490px) {
  #about-wrapper, #Projects-section-wrapper, #Contact-section, #Overview-section, #Formation-section, 
  #Last-projects-section, #Projects-section {
  padding: 2% 2% 5% 2%;;
  }

  h2 { font-size: 40px!important}
}